@{
    ViewBag.Title = "Assessment";
}
<h2>@ViewBag.Title.</h2>

<h4>Maturity for all policies received via input CSV has been computed maturity. The output file is copied under Application App_Start folder. 
    You might need to enable Show All Files option to view the output file</h4>