@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>RLG Insurance Utility</h2>
    <p style="font-size:medium;">
        This small utility to value maturing policies for a fictional insurance company. It generates an .xml file containing the policy number and maturity value for each of the policies contained in an input data file.
    </p>

    <p style="font-size:medium;">
        Together with this specification document, an input file to process (MaturityData.csv).
        Exception logs file is under AppLogs directory. 
    </p>
    <b>Please click on Assessment Menu to generate Policy maturity output xml</b>
</div>

